name: Run benchmark

on:
  # workflow_dispatch enables manual trigger
  workflow_dispatch

  # Runs on pushes targeting the default branch
  # push:
  #   branches: ["main"]
  # # Ignore changes in folders that are affected by the auto commit.
  #   paths-ignore:
  #     - 'results/**'

jobs:
  run-benchmark:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Run setup script
        run: ./scripts/setup.sh
      - name: Run benchmarks script
        run: ./scripts/run-benchmarks.sh
      - name: Commit and push results
        run: ./scripts/commit-results.sh
